
.logo {
    font-size: 30px;
    text-shadow: 2px 1px #808080a1;
}

.navbar-nav li:hover {
    background-color: #80808052;
    border-radius: 5px;
}

.container-fluid {
    background-image: url('https://images.unsplash.com/photo-1534420508552-1acd54331e78?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c87b37c6eaebb64037f7b560e7324380&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8366834170854272) 36%, rgba(0,0,0,0.11528361344537819) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-shadow: 3px 4px #716b6b75;
    
}

.posts::before{
    content: 'Today review';
    position: absolute;
    top: -1.5rem;
    align-content: center;
    color: #06060673;

}

.posts {
    position: relative;
    margin-top: 5rem;
    border-top: 1px solid #c1bbbb52;
}

.post-img{
    border-bottom: 1px dotted gray;
}
.post-img .img-responsive {
    height: 20rem;
    width: 20rem;
    margin: 0.5rem .5rem;
    padding: .5rem .5rem;
    border-radius: 10px;
}

.post-img .img-post p {
    text-align: center;
    width: 20rem;
}

.footer {
    padding: 15px 15px;
    background-color:#69666661;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: gray;
}